.user_dashboard{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
}
.user-aside{
    width: 15%;
    height: 100%;
    background-color: #FFFF;
}
.user-main{
    background-color: #F6F8FC;
    flex-grow: 1;

}

.logo-holder{
    display: flex;
    margin: 10px 20px;
}
.logo-text{
    color: black;
}
.logo{
    background-color: darkblue;
    color: white;
    box-sizing: border-box;
    padding: 1px 2px;
    width: 20px;
    text-align: center;
    border-radius: 3px;
}