.card{
    border-radius: 5px;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    max-height: 412px;
    flex-basis: 304px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.card__account{
    display: flex;
    justify-content: flex-start;  
}

.card__account-image{
    
}
.card__account-content{

}

img{
    width: 100px;
    height: 200px;
}

/*@media only screen and (max-width: 669px) {
    .card{
     width: 80%;
     height: 30%;
    }

}*/
