.terms__content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40vw;
    height: 60vh;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
}

.header__terms{
    margin: 4rem auto;
    font-size: 4rem;
    font-weight: 900;
    animation-name: moveInRight;
    animation-duration: 5s;
}

.sub__content__terms{
    margin: 2rem 0; 
}

.list__item__terms{
    margin: 1rem 0;
}

.items__group__terms{
   animation-name: moveInfromButtom;
   animation-duration: 5s;
}