/* */
body{
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.mobile-nav{
    display: none;
}
.desktop-nav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.terms {
font-style: normal;
font-weight: normal;
text-align: center;
color: #000000;
}

 .about {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    
    color: #000000;
}

 .logo {
    background: #FFFFFF;
    border: 1px solid #5A60FF;
    box-sizing: border-box;
    padding: 8px;
}

@media only screen and (max-width: 970px) {
    .desktop-nav{
    display: none;
    }
    .mobile-nav{
        display: inline-block;
        width:100%;
    } 
}
