.users__account{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    }
    .users__account__content{
        margin: 0rem 25rem;
        height: 100vh;
    }
    @media only screen and (max-width: 970px){
        .users__account__content{
            margin: 0rem 2rem;
            height: 100vh;
        }
    }