body{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 1440px){
    body{
     margin: 0 auto;
     max-width: 1440px;
    }
  }

  html{
    font-size: 62.5%;
}
a, a:hover, a:visited {
color: inherit;
}
.button{
    box-sizing:border-box;
    margin: 10px;
    border-radius: 5px;
    width: 136px;
    height: 36px;
    text-align: center;
    padding: 0.7rem;
    cursor: pointer;
    border: none;
  }
  .button:hover{
    opacity: 0.6;
    transition: ease all 0.2s;
  }


button:focus { outline: none; }

.submit-button{
    text-transform: uppercase;
    background: #6253F1;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 19.1rem !important;
    border-radius: 6rem !important;
    position: absolute;
    position: absolute; /* Position in relation to the nearest positioned element */
    top: 50%; /* 50% from the top */
    left: 50%; /* 50% from the left */
    transform: translate(-50%, -50%);
}



.form-group{
    font-size: 1rem;
    margin: 2rem auto;
}

.form-group--submit{
  position: relative;
  padding: 1rem 0;
}

::-webkit-input-placeholder {
    text-align: left;
  }

input:focus{
    outline: none;
  }

  form{
    box-sizing: border-box;
    background: #E2EBFF;
  }

  .Input{
    font-family: inherit;
    background-color: rgba(#FFFFFF, .5);
    color: inherit !important;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    height: 3.74rem;
    width: 100%;
    padding: 1.2rem;
    display: block;
    box-sizing: border-box;
    transition: all .3s;
}
.notify {
    background: #5A60FF;
    color: white; 
  }
  
  @media only screen and (max-width: 669px) {
    .button{
      width: 70%;
    }
    .submit-button{
      width: 10rem !important;
    }
    html{
      font-size: 50.5%;
  }
  }

  @keyframes moveInRight {
    0%   {
        transform: translateX(-5em);
        opacity: 0;
    }
    80%  {
        transform: translateX(2em);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes moveInfromTop {
    0%   {
        transform: translateY(-5em);
        opacity: 0;
    }
    80%  {
        transform: translateY(2em);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

  @keyframes moveInfromButtom {
    0%   {
        transform: translateY(5em);
        opacity: 0;
    }
    80%  {
        transform: translateY(-2em);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }